Retinopathy_Back/myproject/myproject/__pycache__/
Retinopathy_Back/myproject/api/migrations/__pycache__/
Retinopathy_Back/myproject/db.sqlite3
Retinopathy_Back/myproject/api/__pycache__/
Retinopathy_Back/venv/
Retinopathy_Back/myproject/media/
Retinopathy_Back/myproject/unet.onnx
Retinopathy_Back/myproject/myproject/settings.py
Retinopathy_Front/my-react-app/node_modules/
